# Директории инструментов разработки
.bloop/
.bsp/
.metals/
.vscode/

# Кэш и скомпилированные файлы
target/

# Логи и тестовые артефакты
logs/
videos/
*.log

# Специфичные для macOS файлы
.DS_Store

# Дополнительно (если используете IntelliJ IDEA)
.idea/
*.iml